{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}
    {{ object.title}} | {{ block.super}}
{% endblock head_title %}

{% block content %}

<!-- {{ object.content|urlify }} -->

<div class="col-sm-6 col-sm-offset-3">
 
<div><p>Comments section below</p></div>

       <div class="">{{comment.content}}
       <br/>
       <small> {{comment.user}} ,  {{ comment.timestamp | timesince}} ago </small>

       <hr/> 
        {% for childcomment in comment.children %}
            <div class=""><small>{{childcomment.content}}</small>
            <br/>
            <small> {{childcomment.user}} ,  {{ childcomment.timestamp | timesince}} ago </small>
            </div>
            <hr/> 
       {% endfor %}
        
       <form method="POST" action=".">
          {% csrf_token %}
          {{ form }}
          <input type="hidden" name="parent_id" value="{{ comment.id }}"/>
          <input type="submit" value="Reply " class="btn btn-default"/>
       </form>
       </div>
       <hr/>


</div>
{% endblock content %}

  