{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}
    {{ object.title}} | {{ block.super}}
{% endblock head_title %}

{% block content %}

<!-- {{ object.content|urlify }} -->

<div class="col-sm-6 col-sm-offset-3">
    <!-- {{ share_string }}
<p>One at a time ma-friends</p> -->
{% if object.image %}
<!-- <img src="{{ object.image.url}}" class="img-responsive"/> -->
{% endif %}
<p>
    {% if object.draft %} <p>Draft</p> {% endif %}
    {% if object.publish > today %} <p>Is in the Future </p> {% endif %}
    {{ object.title}} <small>{% if object.draft %}<span style="color: red;">Draft</span>{% endif %}
    {{ object.publish | timesince }} 
</small>
</p>
<p>{{ object.id}} -- {{ object.title}}</p>
<p>Author : {{ object.user.get_full_name }}</p>
<p>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
     data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
     <hr/>
</p>

<p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
    Facebook
</a>

<a href="https://twitter.com/home?/status={{ object.content|urlify }}%20{{ request.build_absolute_uri }}">
    Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
</p>

<div class="row">
    <div class="col-sm-12 content-markdown">
        <p>{{ object.content | safe | linebreaks}}</p>
    </div> 
</div>
<div><p>Comments section below</p></div>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="Post comment" class="btn btn-default"/>
    </form>
    {% for comment in comments %}
       <div class="">{{comment.content}}
       <br/>
       <small> {{comment.user}} ,  {{ comment.timestamp | timesince}} ago </small>

       <a href="{{ comment.get_absolute_url }}">Thread</a>

        {% for childcomment in comment.children %}
            <div class=""><small>{{childcomment.content}}</small>
            <br/>
            <small> {{childcomment.user}} ,  {{ childcomment.timestamp | timesince}} ago </small>
            </div>
       {% endfor %}
        
       <form method="POST" action=".">
          {% csrf_token %}
          {{ comment_form }}
          <input type="hidden" name="parent_id" value="{{ comment.id }}"/>
          <input type="submit" value="Reply " class="btn btn-default"/>
       </form>
       </div>
       <hr/>
    {% endfor %}

<!-- <div class="fb-comments" 
data-href="{{ request.build_absolute_uri }}" 
data-numposts="5" 
data-width="">
</div> -->

</div>
{% endblock content %}

  